.exp {
    width: 750px;
}

.autobio {
    width: 1000px; font-style: italic;
}

.educ {
    width: 750px;
}

.one {
    font-style: bold; color: darkgreen;
}
    
.two {
    font-style: bold; color: darkgreen;
}

.three {
    font-style: bold; color: darkgreen;
}

body {
    background: linear-gradient( grey, white)
}

nav a {
	font-size: 1.5em;
	text-decoration: none;
}

nav a:hover {
	color: orangered;
	text-decoration: underline;
}